# CONFIGURATION DE PRODUCTION GOSEND (Garder jalousement secret)

PORT=3001
NODE_ENV=production

# ----------------------------------------------------
# ORANGE MONEY (CI)
# S'inscrire sur https://developer.orange.com/ pour le Portail MEA
# ----------------------------------------------------
ORANGE_MERCHANT_KEY=remplacer_par_cle_orange
ORANGE_AUTHORIZATION_HEADER=Basic xxxxxxxxxxxxx


# ----------------------------------------------------
# MTN MoMo API (CI)
# S'inscrire sur https://momodeveloper.mtn.com/
# ----------------------------------------------------
MTN_SUBSCRIPTION_KEY=remplacer_par_cle_mtn
MTN_API_USER=xxxxxxxxxx
MTN_API_KEY=xxxxxxxxxx


# ----------------------------------------------------
# WAVE BUSINESS
# Contacter l'équipe commerciale Wave via leur site web
# ----------------------------------------------------
WAVE_MERCHANT_SECRET=remplacer_par_cle_wave
